
* {box-sizing: border-box;
  /* width: 100%; */
}
html,
body {
  background-color: black ;
  font-size: 18px;
  margin: 0px;
  line-height: 1;
  color: gray
}
header {
  text-align: right;
  font-size: 20px;
  padding: 100px 90px;
  background-image: url('../img/gambar.jpg');
  background-size: cover;
}

}
div {
  height: 110px;
  line-height: 100%;
  position: relative;
  margin: auto;
  background-image: url('../img/hp1.jpg');
  background-size: cover;
}
nav {
  width: 50%;
  display: inline-block;
  text-align: end;
}
a {
  color:white;
}
ul {
  padding: 20px;
  background: rgba(0,0,0,0.5);
}
li {
display: inline;
padding: 0px 10px 0px 10px;
}

article {
  padding: 20px;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;

}
footer {
  background: #FFF;
  color: #777;
  padding: 20px;
  text-align: left;
}
}
h2 {
  text-align: justify;
}
footer {
background: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}
