
* {box-sizing: border-box;
  /* width: 100%; */
}
html,
body {
  background-color: black ;
  margin-top: 0.5px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 0;
  line-height: 1;
  color: gray;
  font-family:'Muli', sans-serif;
  font-size: 20px;
}
header {
  text-align: right;
  margin-bottom: 1px;
  margin-top: : 0.5px;
  background-image: url('../img/gambar.jpg');
  background-size: cover;
}

}
div {
  height: 110px;
  line-height: 100%;
  position: relative;
  margin: auto;

}
nav {
  width: 60%;
  display: inline-block;
  text-align: end;

}
a {
  color:white;
  font-size: 18px;
}
ul {
  padding: 20px;
 
}
li {
display: inline;
padding: 0px 10px 0px 10px;
}

article {
  padding: 20px;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;

}

}
h2 {
  text-align: justify;
}
button {
  background: whitesmoke
}
footer {
background: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}
